# 1.Number(수)

In [28]:
#파이썬 사칙연산
integer_value = 123
float_value = 12.456

In [29]:
print(integer_value)
type(integer_value)

123

int

In [30]:
print(float_value)
type(float_value)

12.456

float

# 1. 더하기 연산

In [31]:
sum = integer_value+float_value
print(sum)
type(sum)

135.456

float

# 2. 곱하기 연산

In [32]:
multiple = integer_value*float_value
print(multiple)
type(multiple)

1532.088

float

# 3. 나누기 연산

In [33]:
division = integer_value/float_value
print(division)
type(division)

9.8747591522158

float

# 4. 제곱연산

In [34]:
integer_value2 = int(float_value)
exponential = integer_value2**2
print(exponential)
type(integer_value2)

144

int

# 5. 나머지 연산

In [35]:
mod = integer_value%int(float_value)
print(mod)
type(mod)

3

int