# 1. 데이터 불러오기 from csv

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/finalDF.csv")

# 컬럼해더 재정의
customerData.columns = ["stock_ranking","stock_name", "stock_price"]

# 데이터 VIEW
    
# CSV 파일로 저장
# customerData.to_csv("../dataset/customerdata_out12.csv", index=False)
customerData.head()

   stock_ranking stock_name stock_price
0              1       삼성전자      48,500
1              2     SK하이닉스      87,300
2              3       셀트리온     284,500
3              4      삼성전자우      38,650
4              5      POSCO     364,500

# 2.데이터 불러오기 from 데이터베이스(Oracle)

In [ ]:
# ! DB연동 패키지 설치필요
# $ pip install cx_Oracle

In [3]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 


# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']
customerData = pd.DataFrame(customerData)
customerData.head()


# 데이터 저장
resultname='KOPO_STOCK_ST_박승진'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

# 3.데이터 불러오기 from 데이터베이스(mssql)

In [ ]:
# ! DB연동 패키지 설치필요
# python2 
# $ pip install mysql-python 
# $ pip install sqlalchemy 
# python3 
# $ pip install pymysql 
# $ pip install sqlalchemy

In [3]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine2 = create_engine('mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo') # localhost 는 본인 pc에 mysql이 설치된경우에만 가능
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine2) 

# 컬럼해더 재정의
customerData.columns = ['REGIONID_PSJ','PRODUCTGROUP_PSJ','YEARWEEK_PSJ','VOLUME']

# 데이터 VIEW
print(customerData.head())


# 데이터 저장
# resultname='KOPO_PRODUCT_VOLUME_ST_PSJ'
# customerData.to_sql(resultname, engine, if_exists='replace', index=False)

  REGIONID_PSJ PRODUCTGROUP_PSJ YEARWEEK_PSJ    VOLUME
0          A01           ST0001       201501  513598.0
1          A01           ST0001       201502  438251.0
2          A01           ST0001       201503  420290.0
3          A01           ST0001       201504  458431.0
4          A01           ST0001       201505  482381.0

# 4. POSTGRESQL

In [3]:
from sqlalchemy import create_engine
import pandas as pd

# DB 커넥션 열기
#engine = create_engine('postgresql://haiteam:kopo1234!@192.168.110.107:5432/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
#customerData = pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME', engine) 

# 컬럼해더 재정의
# customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
#print(customerData)

# 데이터 저장
# resultname='pdVariable_psj'
# customerData.to_sql(resultname, engine, if_exists='replace', index=False)

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
from sqlalchemy import create_engine 

def executeQuery(sql_query):
    connection_string = 'mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo'
    engine = create_engine(connection_string)
    
    df = pd.read_sql(sql_query, engine)
    
    return df

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData = executeQuery('SELECT * FROM KOPO_PRODUCT_VOLUME') 
storeData.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0001   201501  513598.0
1      A01       ST0001   201502  438251.0
2      A01       ST0001   201503  420290.0
3      A01       ST0001   201504  458431.0
4      A01       ST0001   201505  482381.0