In [16]:
import pandas_datareader.data as web
import fix_yahoo_finance as yf
yf.pdr_override()
from datetime import date, timedelta
import matplotlib.pyplot as plt
import datetime

start = datetime.datetime(2017,4,1)
end = date.today()

SEC = web.get_data_yahoo("005930.KS", start, end)
SEC.head()

[*********************100%***********************]  1 of 1 downloaded

               Open     High      Low    Close     Adj Close    Volume
Date
2017-04-03  41400.0  41720.0  41300.0  41440.0  10779.122070   9579400
2017-04-04  41600.0  42180.0  41520.0  42080.0  10945.595703  12255500
2017-04-05  41900.0  42240.0  41700.0  42140.0  10961.202148  10699700
2017-04-06  42000.0  42080.0  41600.0  41840.0  10883.167969   9683400
2017-04-07  41800.0  41820.0  41160.0  41600.0  10820.740234  10021000